%h2
  Edit User
= simple_form_for(@user) do |f|
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name, autofocus: true
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name, autofocus: true
  .field
    = f.label :sex
    %br/
    = f.select :sex, User.sexes.keys, :include_blank => true
  .field
    = f.label :birthdate
    %br/
    = f.date_field :birthdate, autocomplete: "birthdate"
  .field
    = f.label :address
    %br/
    = f.text_field :address, autocomplete: "address"
  .field
    = f.label :phone_number
    %br/
    = f.text_field :phone_number, autocomplete: "phone_number"
  .field
    %br/
  = f.collection_check_boxes(:parent_ids, User.all, :id, :to_s) do |b|
    = b.label do 
      = b.check_box + b.text


  .field
    %br/
    = f.select :kinsfolk_id,  User.all.collect {|x| [x.full_name, x.id]}
  = f.text_field :children_id
  .actions
    = f.submit "Update"
%h3 Cancel my account
%p
  Unhappy? #{button_to "Cancel this account", user_path(@user), data: { confirm: "Are you sure?" }, method: :delete}
= link_to "Back", :back
