<!DOCTYPE html>
<html>
  <head>
    <title>FamilyTree</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="hmenu">
    <%= render 'devise/menu/registration' %>
    <%= render 'devise/menu/login' %>
    </ul>
    <%= yield %>
  </body>
</html>
